/* font-family. Tipo de fuente*/
.ff-time-new-roman {
  font-family: "Times New Roman", Times, serif;
}
.ff-arial {
  font-family: Arial, Helvetica, sans-serif;
}

/* font-variant. Tipo de letra */
.fv-normal {
  font-variant: normal;
}
.fv-small-caps {
  font-variant: small-caps;
}

/* font-size. Tamaño de las letras */
.fs-18 {
  font-size: 18px;
}
.fs-1em {
  font-size: 1em;
}

/* font-weight. Grosor de la letra */
.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}

/* font-style. Estilo de la letra */
.fst-normal {
  font-style: normal;
}
.fst-italic {
  font-style: italic;
}
