/* Universal. Selecciona todos los elementos del HTML */
* {
  font-family: cursive;
}

/* Elemento. Selecciona elementos HTML en funcion del nombre */
b {
  color: red;
}

/* Clases. Selecciona los elementos del HTML que tengan el atributo class="" */
.class {
  color: #6f00ff;
}

/* Id. Selecciona un unico elemento HTML que tenga el atributo id="" */
#id {
  color: #0084ff;
}

/* Agrupacion. Para decignar un estilo a diferentes elementos*/
ol::first-letter,
ul::first-letter {
  color: red;
}

/* Decendiente. Selecciona el elemento si esta dentro del otro */
p i {
  color: #13ce13;
}

/* Adyacente. Selecciona el elemento si sigue directamente al otro */
p + pre {
  border: 1px dashed #000;
}

/* General. Selecciona el elemento si tiene al mismo padre que el otro */
b ~ strong {
  color: blue;
}

/* Hijo. Selecciona el elemento si es hijo directo del otro elemento */
section > article {
  border: 1px dashed red;
  /* margin: 10px; */
  padding: 0 20px;
}
