* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg");
}
main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px auto;
  width: 50%;
}
article {
  font-family: "Courier New";
  color: #eee;
  padding: 20px 40px;

  /* glass */
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.53);
}

i {
  color: greenyellow;
  font-size: x-large;
}
p {
  font-size: larger;
}
