* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cards {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card img,
.example img {
  display: block;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.card figcaption,
.example figcaption {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: cursive;
}
.card figcaption {
  background: #000;
  color: #fffb00;
}
.card,
.example {
  width: 200px;
  border: 2px solid #000;
  border-radius: 5px;
  overflow: hidden;
}
.example figcaption {
  color: #1900ff;
  background: #161616;
}
